@using AbcapGestionComercialMVC.Models.Clases.Seguridad
@model List<clsAppNetRoles>

@if (Model.Count > 0)
{
    <div class="panel-heading">
        Resultado <span class="badge">0</span>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo Rol</th>
                    <th>Canal</th>
                    <th>Fecha creación</th>
                    <th>Fecha última modificación</th>
                </tr>
            </thead>
            <tbody>
                @foreach (clsAppNetRoles objItem in Model)
                {
                    <tr>
                        <td>
                            <a href="javascript:CreaModificaRol(@objItem.ID)" ;>
                                @objItem.ID
                            </a>
                        </td>
                        <td>@objItem.Nombre</td>
                        <td>@objItem.TipoRol.Nombre</td>
                        <td>@(objItem.Canal == "-1" ? string.Empty : objItem.Canal)</td>
                        <td>@objItem.fechaAgregacion.ToString("MM/dd/yyyy hh:mm:ss")</td>
                        <td>@objItem.fechaAgregacion.ToString("MM/dd/yyyy hh:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">Sin datos</div>
}
